*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

#header{
  position: absolute;
  z-index:10;
  width: 100%;
}

.navbar{
  padding: 30px 0;
}

.navbar-brand{
  font-weight: bold;
  font-size: 1.5em;
}

.nav-item{
  font-weight: 600;
  padding-left: 50px;
}

.navbar-dark .navbar-nav .nav-link.active{
  color: #8794BA;
  font-family: 'Roboto';
}

.navbar-dark .navbar-nav .active .nav-link{
  color: #8794BA;
  font-family: 'Roboto';
}

.bttn {
  color: #8794BA;
  font-family: 'Roboto';
  border: 1px solid #8794BA;
  text-align: center;
  background-color : transparent;
  outline: none;
  border-radius: 25px;
  width:80px
}
.bttn:hover {
  color: #fbfbfb;
  
}

body {
  box-sizing: border-box;
  font-family: "Roboto";
  background-color:#EEEEF7;
}

.banner_wrapper{
  background-image: url('../images/fold.png');
  min-height: 100vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  padding: 180px 0 120px;
  padding-top: 130px;
  padding-right: 0px;
  
}



.touch-text{
  padding-left: 10%;
}

.touch-txt{
  padding-left: 4%;
}


@media screen and (max-width: 600px) {

  .touch-form img {
    float: left;
  }

}


.foot{
  background-image: url('../images/background-bottom.png');
  background-repeat: no-repeat;
  height: 500;
  background-size: cover;
  padding-top: 200px;
}

.foot .plan{
  text-align: center;
}

@media screen and (max-width: 800px) {
  .foot .plan{
    float: left;
  }
}


.btn {
    background: rgba(239, 42, 130, 1);
    border-radius: 25px;
    color: white;
    width: 280px;
} 

  
  
  .heading-primary{
    font-size: 2rem;
    text-align: center;
    margin: 50px 0;
  }
  
  .plan-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  
  }
  
  .plan-section .plan{
    width: 300px;
    height: 370px;
    text-align: center;
    padding: 30px 20px;
    margin: 20px;
    margin-bottom: 20px;
    border-radius: 30px;
  
  }
  
  .plan-section .plan .plan-price{
    font-size: 4rem;
    
  }
  
  .plan-section .plan .dollar{
    font-size: 2rem;
    font-weight: 400;
    vertical-align: middle;
  
  }
  
  .plan-section .plan .plan-features{
    padding: 15px 0;
    border-bottom: 1px solid  #b3b5c6;
  }
  
  
  
  .plan-section .plan .btn{
    width: 100%;
    padding: 14px 0;
    background: transparent;
    color: #fff;
    font-size: 15px;
    border: 1px solid #f5f0f1;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
  }

  .plan-section .plan .bttn{
    width: 100%;
    padding: 14px 0;
    background:rgba(239, 42, 130, 1);
    color:#fff;
    font-size: 15px;
    border: 1px solid #f5f0f1;
    border-radius: 20px;
    margin-top: 30px;
    cursor: pointer;
  }
  
  
  .plan-section .Starter{
    background-color:rgba(15, 31, 75, 1);
    color:#ffff;
    height: 440px;
    width: 340px;
    ;
  }
  
  .plan-section .Standard{
    background-color: #ffffff;
    color: #060606;
    height: 440px;
    width: 340px;
    
  }
  
  .plan-section .Premium{
    background-color: rgba(15, 31, 75, 1);
    color:#ffff;
    height: 440px;
    width: 340px;
  
  }

  hr{
    border-top: 1px solid rgba(224, 220, 220, 0.1);
    width: 100%;
  }

  .foot .plan-section{
    padding-left: 45px;
  }

  .footer {
    padding: 40px 0;
    color: #8794BA;
 }

 .footer ul{
  margin-top: 0;
  padding: 0;
  list-style: none;
  font-size:18px;
  line-height:1.6;
  margin-bottom: 0;
  text-align: center;
 }

 .footer ul li a{
  color: inherit;
  text-decoration: none;
  opacity: 0.8;
 }

 .footer ul li{
  display: inline-block;
  padding: 0 15px;
 }

.footer .logo{
  float: left;
}

.footer .fab{
  float: right;
}

@media screen and (max-width: 800px) {
  .footer .a{
    display: none;
  }
}